header {
  background-color: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

header h2 {
  color: white;
  margin: 16px;
}

.container-up {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.country {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
}

img {
  height: 400px;
  width: 200px;
  object-fit: cover;
  object-position: 40% 0;
}
